@{
    ViewBag.Title = "VoucherMaster";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}
<script type="text/javascript">
$( document ).ready( function () {     
     

    jQuery.validator.addMethod("numbersonly", function(value, element) 
            {
        return this.optional(element) || /^[0-9a-z-," "]+$/i.test(value);
            }, "Letters and spaces only please");
	$( '#billtype_details_form' ).validate( {
		submitHandler: function(form) {
		var myurl=$('#vouchermaster_form').attr('action');
		var mydata=$('#vouchermaster_form').serialize();
		$('#popup').scrollTop(1);
		
		alert(mydata);
		$.ajax({
			type:'POST',
			url:myurl,
			dataType:"text",
			data:mydata,
			success:function(res){
				alert(res);
				$('.modal-dialog').html(res);
				$('#popup').show();
				location.reload(true);
			}
		});
		},
			rules: {
				billtypeid:{required:true },
                accountnumber:{required:true,maxlength:10,numbersonly:true},
                type:{required:true,maxlength:10},
			},
				
			messages: {
				billtypeid:{required:'This field is Compulsary'},
                accountnumber:{required:'This field is Compulsary',maxlength:'The Max Allowed Characters is 10',numbersonly:'Only Numbers are Allowed'},
                type:{required:'This field is Compulsary',maxlength:'The Max Allowed Characters is 10'},
			},
			errorElement: "em",
			errorPlacement: function ( error, element ) {
				// Add the `help-block` class to the error element
			error.addClass( "help-block errors" );
			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			},
			highlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
			},
			unhighlight: function (element, errorClass, validClass) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
			}
		});
        $('#addrecord').click(function(e){
		e.preventDefault();
		var myurl=$(this).attr('href');	
		//alert(myurl)
		$.ajax({
			type:'POST',
			url:myurl,
			success:function(res){
				//alert(res)
				$('.modal-dialog').html(res);
				$('#popup').show();
			}
		});
	});

     $('.edit').click(function (e) {
            e.preventDefault();
            var myurl = $(this).attr('href');
            alert(myurl)
            $.ajax({
                type: 'POST',
                url: myurl,
                success: function (res) {
                    //alert(res);
                    $('.modal-dialog').html(res);
                    $('#popup').show();
                },
                error: function (error) {
                    $('.modal-dialog').html(error);
                    $('#popup').show();
                }
            });
        });
		$('.delete').click(function(e){
		e.preventDefault();
		var myurl=$(this).attr('href');	
		alert(myurl)
		$.ajax({
			type:'POST',
			url:myurl,
			success:function(res){
				alert(res);
				$('#popup').hide();
				location.reload(true);
			}
		});
	});	
});
</script>
<div class="modal-lg fade" id="popup" role="dialog" style="width:80%;margin:5% auto;">
    <div class="modal-dialog">
        
    </div>
  </div> 
<html>
    <form id="vouchermaster_form" name="vouchermaster_form" role="form" action ="voucherAdd" >
    <h6 align="center">CADT VOUCHER</h6>
      <fieldset id="form_set">
        		<div class="form-group" style="height:5px;display:none;">
			<label class="control-label col-xs-3 text-right">id</label>
        	<input type="text" id="id" name="id" value="" />
		</div>
		<div class="form-group">
           
			<label class="control-label col-xs-3 text-right">Bill Type Name
        	@Html.DropDownList("billtypeid", (SelectList)ViewBag.billtype_master) </label> 
            <label class="control-label col-xs-3 text-right">Party Name
        	@Html.DropDownList("partyid", (SelectList)ViewBag.party_master) </label>
            <div class="bootstrap-datepicker-widget">
            <label class="control-label col-xs-3 text-right">DATE:
	       <input type="text" id="vdate" name="vdate" placeholder="vdate" value="" /> </label> <br />
           </div>    
           </div>	
             
           <script type="text/javascript">
               
               $(function () {
                   $("#vdate").datepicker({
                       dateFormat: 'yy-mm-dd',
                       changeMonth: true,
                       changeYear: true
                   });
                   $("#rvdate").datepicker({
                       dateFormat: 'yy-mm-dd',
                       changeMonth: true,
                       changeYear: true
                   });
                   $("#podate").datepicker({
                       dateFormat: 'yy-mm-dd',
                       changeMonth: true,
                       changeYear: true
                   });
                   $("#invoicedate").datepicker({
                       dateFormat: 'yy-mm-dd',
                       changeMonth: true,
                       changeYear: true
                   });
               });
           </script>
		
        <div class="form-group">
			<label class="control-label col-xs-3 text-right">RV.NO
			<input type="text" id="rvno" name="rvno" placeholder="rvno" value="" /></label>
              <label class="control-label col-xs-3 text-right">DATE:
			<input type="text" id="rvdate" name="rvdate" placeholder="rvdate" value="" /></label>  <br />   
		</div>
       
        <div class="form-group">
			<label class="control-label col-xs-3 text-right">PO.NO
            <input type="text" id="pono" name="pono" placeholder="pono" value="" /></label>
            <label class="control-label col-xs-3 text-right">DATE:
			<input type="text" id="podate" name="podate" placeholder="podate" value="" /></label><br/>
            
                    
		</div>
        <div class="form-group">
			<label class="control-label col-xs-3 text-right">BILL.NO
			<input type="text" id="invoice" name="invoice" placeholder="invoice" value="" /></label>
            <label class="control-label col-xs-3 text-right">DATE:
			<input type="text" id="invoicedate" name="invoicedate" placeholder="invoicedate" value="" /> </label>           
            
		</div>
        <br />
        <br />
		<div class="row">
<div class="panel col-sx-12" >
	<div class="panel-heading text-center">
		 <h6>@ViewData["TableHeading"]</h6>
	</div>
	
	<div class="panel-body" >
    <a class='modal-link btn-xs btn-success' id='addrecord' data-toggle='modal' data-target='#popup' href="@ViewData["addlink"]" >Open Accounting Part</a>
	    <div class="table-responsive">
		<table  class="table table-bordered table-condensed"  id="vouchertable">
			<thead> <!-- ;$html.= count($headings); -->
				<tr class="h6">
					@for (int i = 0; i < @Model.Tables["Accttrans"].Columns.Count; i++)
					{
						<td>@Model.Tables["Accttrans"].Columns[i].ColumnName</td>
					} 
					<td>Actions</td>
                </tr>
			</thead>
			<tbody>
				<tr> 
					@for(var i=0;i<Model.Tables["Accttrans"].Rows.Count;i++){
						<tr>
						@for (int j = 0; j < Model.Tables["Accttrans"].Columns.Count; j++)
						{
                            String datatype = @Model.Tables["Accttrans"].Columns[j].DataType.ToString();
							String classname = "text-left";
							if (datatype == "int") classname = "text-right"; 
							<td class="@classname">@Model.Tables["Accttrans"].Rows[i].ItemArray[j] </td>
						}
                        <td><a  href="voucherEdit/@Model.Tables["Accttrans"].Rows[i]["id"]" data-toggle="modal" data-target="#popup" id="edit" class="modal-link btn-xs btn-success edit">Edit</a>
						<a  href="voucherDelete/@Model.Tables["Accttrans"].Rows[i]["id"]" data-toggle="modal" data-target="#popup" id="delete" class="modal-link btn-xs btn-success delete">Delete</a></td>
						
						</tr>
					}
			</tbody>
			
		</table>
		</div>
        
	</div> 

    </div>