@using  System.Data;
<script>
$( document ).ready( function () {
	$('#popup').on('hidden.bs.modal', function () {
		location.reload();
	});
	$('#myimg').hide();
     jQuery.validator.addMethod("numbersonly", function(value, element) 
            {
        return this.optional(element) || /^[0-9]+$/i.test(value);
            }, "Letters only please");
      jQuery.validator.addMethod("lettersonly", function(value, element) 
            {
        return this.optional(element) || /^[a-z," "]+$/i.test(value);
            }, "Letters only please");
	$( '#account_master_form' ).validate( {
		submitHandler: function(form) {
		var myurl=$('#account_master_form').attr('action');
		var mydata=$('#account_master_form').serialize();
		$('#popup').scrollTop(1);
		$('#myimg').show();
		alert(mydata);
		$.ajax({
			type:'POST',
			url:myurl,
			dataType:"text",
			data:mydata,
			success:function(res){
				alert(res);
				//$('#modal-dialog').html(res);
				$('#popup').hide();
				location.reload(true);
			}
		});
		},
			rules: {
				accountnumber:{required:true,maxlength:8,numbersonly:true},
                accountname:{required:true,maxlength:70,lettersonly:true},
                parentid:{required:true },
                active:{maxlength:255},

			},
				
			messages: {
				accountnumber:{required:'This field is Compulsary',maxlength:'The Max Allowed Numbers is 8'},
                accountname:{required:'This field is Compulsary',maxlength:'The Max Allowed Characters is 70',lettersonly:'Only Alphabets and Spaces Allowed'},
                parentid:{required:'This field is Compulsary'},
                active:{maxlength:'The Max Allowed Characters is 255'},

			},
			errorElement: "em",
			errorPlacement: function ( error, element ) {
				// Add the `help-block` class to the error element
			error.addClass( "help-block errors" );
			if ( element.prop( "type" ) === "checkbox" ) {
				error.insertAfter( element.parent( "label" ) );
			} else {
				error.insertAfter( element );
			}
			},
			highlight: function ( element, errorClass, validClass ) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-error" ).removeClass( "has-success" );
			},
			unhighlight: function (element, errorClass, validClass) {
				$( element ).parents( ".col-sm-5" ).addClass( "has-success" ).removeClass( "has-error" );
			}
		});
			
});
$.fn.modal.Constructor.prototype.enforceFocus = function() {};
</script>
@{DataRow dr=Model.Tables[0].Rows[0];}
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
      @ViewBag.DialogTitle
  </div>
  <div class="modal-body">
	<div id="message" class="row"></div>
    <form id="account_master_form" name="account_master_form" role="form" action ="save" >
      <fieldset id="form_set">
        		<div class="form-group" style="height:5px;display:none;">
			<label class="control-label col-xs-3 text-right">accountid</label>
        	<input type="text" id="accountid" name="accountid" value="@dr["accountid"]" />
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3 text-right">accountnumber</label>
			<input type="text" id="accountnumber" name="accountnumber" placeholder="accountnumber" value="@dr["accountnumber"]" />
		</div>
				<div class="form-group">
			<label class="control-label col-xs-3 text-right">accountname</label>
			<input type="text" id="accountname" name="accountname" placeholder="accountname" value="@dr["accountname"]" />
		</div>
				<div class="form-group">
			<label class="control-label col-xs-3 text-right">parentid</label>
        	@Html.DropDownList("parentid", (SelectList)ViewBag.account_parent)
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3 text-right">groupid</label>
        	@Html.DropDownList("groupid", (SelectList)ViewBag.account_group)
		</div>
		<div class="form-group">
			<label class="control-label col-xs-3 text-right">sectionid</label>
        	@Html.DropDownList("sectionid", (SelectList)ViewBag.section_master)
		</div>
        
           <div class="form-group">
			<label class="control-label col-xs-3 text-right">Division Access</label>            
			<input type="radio" id="allowyes" name="allowyes"  value="YES" checked/>YES
            <input type="radio" id="allowno" name="allowno"  value="NO" />NO
		</div>
         


        <input type="submit" id="btnaccount_master" class="btn btn-lg btn-success" value="Submit" />
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</div>


      
